@import url('html5-boilerplate.css');

h1, p {
    text-align: center;
}

#cr-stage {
    margin: auto;
    margin-top: 150px;
}

#pauseContainer {
    display: none;
    z-index: 1;
    position: absolute;
    top: 150px;
    left: 480px;
    background-color: #a0a0a0;
    width: 960px;
    height: 640px;
}

#pauseContainer button {
    display: block;
    margin: 310px auto 0px auto;
}