@import url('html5-boilerplate.css');

h1, p {
    text-align: center;
}

#cr-stage {
    margin: 0;
}

#pauseContainer {
    display: none;
    z-index: 1;
    position: absolute;
    top: 0px;
    background-color: #a0a0a0;
    width: 100%;
    height: 100%;
}

#pauseContainer button {
    display: block;
    margin: 310px auto 0px auto;
}

#hud {
    display: none;
    background: url('../img/HUD.png');
    position: fixed;
    top: 0;
    left: 50%;
    margin: 0 0 0 -230px;
    width: 461px;
    height: 87px;
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    z-index: 9999;
}

#hud li {
    display: block;
    position: absolute;
    width: 49px;
    height: 49px;
    top: 5px;
    cursor: pointer;
    background-image: url('../img/sort.png');
    background-position: 0 -159px;
}

#hud .purify {
    left: 107px;
    background-position: 0 0;
}
#hud .purify:focus,
#hud .purify:active {
    background-position: -53px 0;
}

#hud .teletransport {
    left: 172px;
    background-position: 0 -106px;
}
#hud .teletransport:focus,
#hud .teletransport:active {
    background-position: -53px -106px;
}

#hud .stun {
    left: 239px;
    background-position: 0 -53px;
}
#hud .stun:focus,
#hud .stun:active {
    background-position: -53px -53px;
}

#hud .extra {
    left: 303px;
    background-image: none;
}